
*.db
*.opendb
*.db-shm
*.db-wal
Binaries/.
Binaries/Win64/*.*
Saved\Config\CrashReportClient\.
Intermediate/Build/Win64/.
Binaries/Win64/ShooterEditor.target
Binaries/Win64/UE4Editor-Shooter.dll
Binaries/Win64/UE4Editor-Shooter.pdb
.vs/Shooter/v16/ipch/AutoPCH/f90386d5c3e704a/SHOOTERCHARACTER.ipch
Intermediate/Build/BuildRules/ShooterModuleRules.dll
Intermediate/Build/BuildRules/ShooterModuleRules.pdb
*.bin
Saved\Logs\*.*
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.cpp
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.obj
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch.response
Intermediate/Build/Win64/ShooterEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.txt
Intermediate/Build/Win64/ShooterEditor/Development/Metadata.dat
Intermediate/Build/Win64/ShooterEditor/Development/ShooterEditor.deps
Intermediate/Build/Win64/ShooterEditor/Development/ShooterEditor.uhtmanifest
Intermediate/Build/Win64/ShooterEditor/Development/ShooterEditor.uhtpath
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Default.rc2.res
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Definitions.Shooter.h
Intermediate/Build/Win64/UE4Editor/Development/Shooter/LiveCodingInfo.json
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.init.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/Shooter.init.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterCharacter.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/ShooterGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.dll.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.exp
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.lib.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/Shooter.init.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/ShooterCharacter.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/ShooterCharacter.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/ShooterClasses.h
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/ShooterGameModeBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/ShooterGameModeBase.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/Shooter/Timestamp
Intermediate/CachedAssetRegistry.bin
Intermediate/CachedAssetRegistry.bin
.vs/Shooter/v16/.suo
.vs/Shooter/v16/.suo
.vs/Shooter/v16/ipch/AutoPCH/5f20fef4d3f0314d/UNREALMATH.ipch
.vs/Shooter/v16/ipch/AutoPCH/e3f22b324c740970/SHOOTERCHARACTER.ipch
.vs/Shooter/v16/ipch/AutoPCH/e80fb82610a21056/SHOOTERCHARACTER.ipch
Intermediate/Build/Unused/Shooter.log
Intermediate/Build/Unused/Shooter.log
Intermediate/Build/Win64/Shooter/DebugGame/Default.rc2.res
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.cpp
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.obj
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch.response
Intermediate/Build/Win64/Shooter/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.txt
Intermediate/Build/Win64/Shooter/DebugGame/Metadata.dat
Intermediate/Build/Win64/Shooter/DebugGame/Shooter-Win64-DebugGame.exe.response
Intermediate/Build/Win64/Shooter/DebugGame/Shooter.deps
Intermediate/Build/Win64/Shooter/DebugGame/Shooter.uhtmanifest
Intermediate/Build/Win64/Shooter/DebugGame/Shooter.uhtpath
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.cpp
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.obj
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.pch.response
Intermediate/Build/Win64/ShooterEditor/DebugGame/Engine/SharedPCH.Engine.NonOptimized.ShadowErrors.h.txt
Intermediate/Build/Win64/ShooterEditor/DebugGame/Metadata.dat
Intermediate/Build/Win64/ShooterEditor/DebugGame/ShooterEditor.deps
Intermediate/Build/Win64/ShooterEditor/DebugGame/ShooterEditor.uhtmanifest
Intermediate/Build/Win64/ShooterEditor/DebugGame/ShooterEditor.uhtpath
Intermediate/Build/Win64/ShooterEditor/Development/HotReload.state
Intermediate/Build/Win64/ShooterEditor/Development/Metadata-HotReload.dat
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Definitions.Shooter.h
Intermediate/Build/Win64/UE4/DebugGame/Shooter/LiveCodingInfo.json
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.cpp.txt
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.init.gen.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/Shooter.init.gen.cpp.txt
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.cpp.txt
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.gen.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.gen.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterCharacter.gen.cpp.txt
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.obj
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4/Inc/Shooter/Shooter.init.gen.cpp
Intermediate/Build/Win64/UE4/Inc/Shooter/ShooterCharacter.gen.cpp
Intermediate/Build/Win64/UE4/Inc/Shooter/ShooterCharacter.generated.h
Intermediate/Build/Win64/UE4/Inc/Shooter/ShooterClasses.h
Intermediate/Build/Win64/UE4/Inc/Shooter/ShooterGameModeBase.gen.cpp
Intermediate/Build/Win64/UE4/Inc/Shooter/ShooterGameModeBase.generated.h
Intermediate/Build/Win64/UE4/Inc/Shooter/Timestamp
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Default.rc2.res
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Definitions.Shooter.h
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/LiveCodingInfo.json
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.init.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.init.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/Shooter.init.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterCharacter.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.obj
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/ShooterGameModeBase.gen.cpp.txt
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.dll.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.exp
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.lib
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.lib.response
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.suppressed.exp
Intermediate/Build/Win64/UE4Editor/DebugGame/Shooter/UE4Editor-Shooter-Win64-DebugGame.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.dll.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.exp
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.lib.response
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-3481.suppressed.lib
Saved/Config/CrashReportClient/UE4CC-Windows-6F9218204F15203B0393DB8A0A6C5BC4/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-A3C32DB24648BDFF2C3A41A0D119B3C7/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E5D8CEDE4C2C0E890E40B3A86AC2260B/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-F3A594BE495EBE0F43444E94F29CA33B/CrashReportClient.ini
Saved/Logs/Shooter-backup*.*
Saved/Logs/Shooter.log
*.bak
Intermediate/Build/Unused/Shooter.log
Saved/Logs/Shooter.log
*.response
*.exp
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-1908.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-1908.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-9641.lib
Intermediate/Build/Win64/UE4Editor/Development/Shooter/UE4Editor-Shooter-9641.suppressed.lib
*.log
*.log
